[submodule "third_party/HSMR"]
	path = third_party/HSMR
	url = https://github.com/IsshikiHugh/HSMR.git
[submodule "third_party/vggt"]
	path = third_party/vggt
	url = https://github.com/facebookresearch/vggt.git
[submodule "third_party/Pi3"]
	path = third_party/Pi3
	url = https://github.com/yyfz/Pi3
